<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Path Node Builder Web App</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <script src="/js/index.js"></script>
</head>
<body onload="onload()">
    <div class="title-block">
        <h1 class="title-text">PATH NODE BUILDER WEB APP</h1>
        by HuKuTa94
    </div>
    <div class="card">
        <button onclick="pasteTextFromClipboard()" id="source-button" class="card-button" >PASTE FROM CLIPBOARD</button>
        <textarea id="source-text" class="card-text-area"></textarea>
    </div>
    <div class="card">
        <button onclick="sendData()" id="compute-button" class="card-button">COMPUTE DISTANCE MATRIX</button>
        <textarea id="result-text" class="card-text-area"></textarea>
        <button onclick="copyTextToClipboard()" id="result-button" class="card-button">COPY TO CLIPBOARD</button>
    </div>
    <div class="contacts-block">
        Open source project<br>
        <a href="https://github.com/HuKuTa94/path-node-builder">https://github.com/HuKuTa94/path-node-builder</a>
        <br>
        <a href="https://workshop.codes/QRD5A">https://workshop.codes/QRD5A</a>
    </div>
</body>
</html>
